html body{
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
  
    
}
.div1 {
    background: linear-gradient(110deg,rgba(35, 133, 24, 1) 15%, rgba(240, 2, 2, 1) 45%, rgba(255, 255, 255, 1) 83%);
}

.div1 p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
.div3 {
    justify-content: center;
    display: flex;
    font-size: 1cm;
    margin-top: 3rem;
    gap: 2cm;
    #Recherche {
        border-radius: 4px;
        outline: none;
    }
}
#box {
    display: flex;
    justify-content: center;
    gap: 3cm;
    #img{
        height:150px ;
        width: 100%;
    }
    #card {
        width: 200px;
        height:260px;
        border-radius: 12px;
        overflow: hidden;
        border: 2px solid red;
        background-color: black;
        color: purple;
        .text {    border: 2px solid red;
            width: 50px ;
            border-radius: 1rem;
}
       
    }
}

@media (max-width: 768px) {
    #box {
        margin-top: 2cm;
        flex-direction: column;
        align-items: center;
        gap: 2cm;
    }
}