html body{
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
  
    
}
.div1 {
    background: linear-gradient(110deg,rgba(35, 133, 24, 1) 15%, rgba(240, 2, 2, 1) 45%, rgba(255, 255, 255, 1) 83%);
}

.div1 p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}